/*
    This is an example CSS submitted by Erno Kuusela <erno@iki.fi>
*/

BODY, HTML, P, UL, LI { /* <- try to work around bugs in ns 4 */
	color: green;
	background-color: black;
}

A {
	color: yellow;
	background-color: black;
}

#subdirectories, #songs {
	border: solid gray;
	margin: 1em;
}

